<!DOCTYPE html>
<html>
  <head>
    <title>Custom Elements - Backbone App</title>

    <link rel="stylesheet" href="https://js.arcgis.com/4.0beta3/esri/css/main.css">

    <style>
      html, body, esri-map, #app {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
      }

      esri-basemap-toggle {
        background: #FFF;
        border-radius: 3px;
        padding: .5em;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>

    <template id="app-template">
      <esri-map
        id="map"
        basemap="<%- basemap %>"
        zoom="<%- zoom %>"
        lat="<%- lat %>"
        lng="<%- lng %>">

        <esri-feature-layer url="<%- url %>" popuptitle="{Station_Na}" popupbody="popup"></esri-feature-layer>
      </esri-map>

      <esri-basemap-toggle
        id="toggle"
        map="map"
        basemap="gray"
        ></esri-basemap-toggle>

      <template id="popup">
        <p>{Street_Add}<br>
        {City}, {State}, {ZIP}</p>

        <p><b>Fuel Type:</b> {Fuel_Type}</p>
        <p><b>Phone:</b> <a href="tel:{Station_Ph}">{Station_Ph}</a></p>
        <p><b>Open to:</b> {Groups_Wit}</p>
        <p><b>Hours:</b> {Access_Day}</p>
      </template>
    </template>

    <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/lodash/3.10.1/lodash.min.js"></script>
    <script src="//cdn.jsdelivr.net/backbonejs/1.2.2/backbone-min.js"></script>
    <script src="https://js.arcgis.com/4.0beta3/"></script>

    <script>
      var App = Backbone.View.extend({
        el: $("#app"),

        events: {
          'togglebasemap esri-basemap-toggle': 'toggled'
        },

        template: _.template($('#app-template').html()),

        toggled: function (e) {
          console.log('Toggled in Backbone', e.originalEvent);
        },

        render: function () {
          return this.$el.html(this.template({
            zoom: 11,
            lat: 37.75,
            lng: -122.33,
            basemap: 'topo',
            url: 'http://services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Alternative_Fueling_Stations/FeatureServer/0'
          }));
        }
      });

      var app = new App();

      app.render();
    </script>

    <script src="../../dist/esri-map.js"></script>
    <script src="../../dist/esri-feature-layer.js"></script>
    <script src="../../dist/esri-basemap-toggle.js"></script>
  </body>
</html>
